include CHANGELOG.md
include CREDITS.html
include README.md
include LICENSE.txt
recursive-include joulescope/v0/native *.h *.c
recursive-include joulescope *.py
include joulescope/v0/test/calibration_01.dat
