check-manifest>=0.37
coverage>=4.5.2
Cython>=3.0,<4
# https://developercommunity.visualstudio.com/content/problem/1207405/fmod-after-an-update-to-windows-2004-is-causing-a.html
numpy>=2.2.0,<3
psutil>=5,<8
pyjls>=0.11.0,<1
pyjoulescope_driver>=1.9.4,<2
pymonocypher>=3.1.3.2,<4
pywin32; sys_platform == 'win32'
# python {path_to_python}\scripts\pywin32_postinstall.py -install
python-dateutil>=2.7.3,<3
wheel
