check-manifest>=0.37
coverage>=4.5.2
Cython>=0.29.3
numpy>=1.15.2
pymonocypher>=0.1.0
pypiwin32>=223; sys_platform == 'win32'
libusb1>=1.7; sys_platform == 'linux'
libusb1>=1.7; sys_platform == 'darwin'
python-dateutil>=2.7.3
wheel
